<style type="text/css">
<!-- 
.centered { margin: 0 auto; }
#container{
    background: #eee;
}
.box {
    margin: 5px;
    padding: 5px;
    float: left;
    background: #eee;
}
.col { width: 160px; height: 200px;}
-->
</style>


<h1>Blocks</h1>

<div id="container" class="centered">
  <% @blocks.each do |block| %>
    <% if block.pic? %>
      <div class="box col"><%= image_tag block.pic.url %></div>
    <% end %>
  <% end %>
</div>
