<style type="text/css">
<!-- 
.centered { margin: 0 auto; }
#container{
    background: #eee;
}
.box {
    margin: 5px;
    padding: 5px;
    float: left;
    background: #eee;
}
.col { width: 160px; height: 200px;}
-->
</style>


<h1>Blocks</h1>

<div id="container" class="centered">
  <% @blocks.each do |block| %>
    <% if block.pic? %>
      <div class="box col"><%= image_tag block.pic.url %></div>
    <% end %>
  <% end %>
</div>

<script>
  $(function(){
    $('#container').masonry({
        itemSelector: '.box', //対象の要素のclassを指定
        columnWidth: 10, //一列の幅サイズを指定
        isResizable: true, //画面サイズ変更時の並び替え
        isAnimated: true, //アニメーション設定
        isFitWidth: true, //親要素の幅サイズを整える
        isRTL: false,     //要素が左右逆にする設定
        gutterWidth: 0,   //要素間の溝の幅
        containerStyle: { position: 'relative' } //親要素にスタイルを追加する
    });
  });
</script>

