<h1><%= @block.name %></h1>

<div>
  <ul>
    <li><%= @block.memo %></li>
    <li><%= @block.user_id %></li>
  </ul>

  <% if @block.pic? %>
    <div>
      <%= image_tag @block.pic.url %>
    </div>
  <% end %> 
 
</div>
